.filters {
  margin-bottom: var(--xx);

  &__form {
    flex: 1;
    flex-direction: column;
    gap: var(--x);

    &__search {
      background-color: transparent;
      border: var(--border);
      border-radius: var(--border_radius);
      padding: var(--x) var(--v);
      color: var(--foreground);
      box-shadow: var(--shadow_no_color) black;
      background-color: #80808020;
      font-size: 1.1rem;

      &:focus-visible {
        outline: none;
        border-color: var(--link);
      }
    }

    &__advanced {
      gap: var(--x);
    }

    &__platforms {
      flex-direction: column;
      gap: var(--iii);

      &__set {
        padding: var(--v) var(--x);
        background-color: #80808020;
        border: var(--border);
        border-radius: var(--border_radius);
        box-shadow: 0 0 var(--iii) black;

        legend {
          padding: 0 var(--ii);
        }
      }

      &__item {
        gap: var(--v);
      }
    }

    &__genres {
      &__set {
        padding: var(--v) var(--x);
        background-color: #80808020;
        border: var(--border);
        border-radius: var(--border_radius);
        box-shadow: 0 0 var(--iii) black;

        legend {
          padding: 0 var(--ii);
        }
      }

      &__list {
        flex-wrap: wrap;
        gap: 0 var(--xx);
        align-items: flex-start;

        &__item {
          align-items: center;
          gap: var(--v);
        }
      }
    }

    &__submit {
      align-self: flex-start;
      background-color: var(--accent);
      border: var(--border);
      border-radius: var(--border_radius);
      padding: var(--v) var(--x);
      color: var(--foreground);
    }
  }
}
